<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.BusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yx.model.Bus">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="date" property="date" />
        <result column="car_id" property="carId" />
        <result column="remarks" property="remarks" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_id,date, car_id, remarks
    </sql>
    <!--查询项目车辆信息-->
    <select id="queryBusAll" parameterType="string" resultType="com.yx.model.Bus">
        select a.id,a.contract_id,a.car_id,a.date,a.remarks,b.numbers,b.name,c.number from bus a left join contract b
        on a.contract_id=b.id left join car c on a.car_id=c.id left join manager e on a.contract_id=e.contract_id

        <where>
            <if test="userId!=null and userId!=''">
                and e.user_id = #{userId}
            </if>

            <if test="numbers!=null and numbers!=''">
                and b.numbers like '%${numbers}%'
            </if>
        </where>
        order by a.date desc
    </select>

    <select id="queryBusById" resultType="com.yx.model.Bus" parameterType="Integer">
        select * from bus where id = #{busId}
    </select>

</mapper>


