<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.MenusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yx.model.Menus">
        <id column="id" property="id"/>
        <result column="menu_name" property="menusName"/>
        <result column="father_id" property="fatherId"/>
        <result column="url" property="url"/>
        <result column="authority" property="authority"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, menu_name,father_id,url,authority
        </sql>

    <!--查询菜单信息-->
    <select id="queryMenusAll" parameterType="string" resultType="com.yx.model.Menus">
        select  id, menu_name,father_id,url,authority from menus
        <where>
            <if test="menusName!=null and menusName!=''">
                and menusName like '%${menusName}%'
            </if>
        </where>
    </select>

    <select id = "queryMenuByUserId" resultType="com.yx.model.Menus" parameterType="Integer">
        select distinct m.* from user_roles ur inner join roles_menus rm on rm.roles_id = ur.roles_id inner join  menus m
        on rm.menus_id = m.id where ur.user_id = #{userId}
    </select>
</mapper>

